body {
  font-family: "Helvetica";
  background-color: black;
  color: red;
}
h2 {
  color: cyan;
}
#q1c1 {
  background-color: white;
}
#result{
  color:white;
  font-size: 30px;
}
img{
  width: 700px;
  height: 700px;
}
